@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
  background: black;
  color: white;
  line-height: 1.1;
  letter-spacing: 0.01em;
  z-index: -1;
  font-family: 'Playfair Display', serif;
      
}

html{
  scroll-behavior: smooth ;
}
/* text scroll animation start */
.wrapper-infinitescroll {
  max-width: 100%;
  overflow: hidden;
}

.infinitescroll {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: infinitescroll 15s linear infinite;
}

/* p {
  display: inline-block;
  font-size: 25px;
}
 */


@keyframes infinitescroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* text scroll animation end */

/* ball animation start*/
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  opacity: 1;
  transition: opacity 300ms ease-in-out 1000ms;
}

.loading .hide {
  opacity: 0;
}

.loading .circle {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
  animation-name: shadow-grow;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
}

.loading .enlarging-circle {
  position: absolute;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: black;
  transition: all 1000ms ease-in-out;
}

.loading.hide .enlarging-circle {
  height: 100vmax;
  width: 100vmax;
}


@keyframes falling {
  0% {
    transform: translateY(-1024px) scalex(1);
    animation-timing-function: cubic-bezier(.66, .0, 1, .72);
  }

  20% {
    transform: translateY(-100px) scalex(1);
  }

  30% {
    transform: translateY(0px) scalex(1.3);
  }

  40% {
    transform: translateY(-40px) scalex(1);
  }

  50% {
    transform: translateY(-10px) scalex(1);
  }

  60% {
    transform: translateY(0px) scalex(1);
  }

  80% {
    transform: translateY(0px) scale(4);
    animation-timing-function: cubic-bezier(.66, .0, 1, .72);
  }

  100% {
    transform: translateY(0px) scale(450);
    animation-timing-function: cubic-bezier(.66, .0, 1, .72);
  }
}

/* .ball{
  background: #222;
  border-radius: 50%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
.drop{
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both; 
  animation-name: falling;
  animation-timing-function: linear;
  animation-iteration-count: 1;
} */

div#text {
  animation-name: fade;
}

.ball {
  background: black;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.drop {
  animation-delay: 0s;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: falling;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes fade {

  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }

}
/* ball animation end*/

/* vision animation start*/

#container { margin: 0%; }

#circle { position: relative; width: 100%; padding-bottom: 100%; overflow: hidden; }

#circle text { font-family: 'Helvetica Neue', Arial; font-size: 16px; font-weight: bold; color: white; }

#circle svg { position: absolute; left: 0; top: 0; width: 100%; height: 180px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* vision animation end*/

/* image hover start */



figure.snip0015 {

  color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0015 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10em 3em;
  width: 100%;
  height: 100%;
}
figure.snip0015 figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0015 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip0015 p {
  font-weight: 200	;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0015 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0015:hover img {
  opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  
}
figure.snip0015:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}




/* image hover end */


/* underline hover left to right start   use this in className: hover-underline-animation*/

.hover-underline-animation {
  display: inline-block;
  position: relative;
 
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* underline hover left to right start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.numtext 
{
font-family: 'Poppins', sans-serif;
}