@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: black;
  color: white; 
  font-family: Playfair s;
  line-height: 1.1;
  letter-spacing: 0em;
  z-index: -1;
   
}






