.missionText {
    transition: opacity 0.4s;

}

.missionBG {
    background-image: url(../public/assets/MissionText.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    background-position-y: center;
    height: 700px;
}