@import url('https://fonts.google.com/specimen/Playfair+Display/tester?query=pla');
.missionText {
    transition: opacity 0.4s;
    font-family: 'Playfair Display';

}

/* .missionBG {
    background-image: url(../public/assets/MissionText.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    background-position-y: center;
    height: 1024px;
    
} */